.sweep-mod{
  width: 900px;
  position: relative;
}

.sweep-mod val{
  margin-top: -20px;
}

.sweep-mod .type-label{
  font-size: 12px;
  text-align: center;
  margin-bottom: -10px !important;
}

.sweep-mod .slider{
  width: 200px;
  left: 28px;
}