.sweep-mod{
  width: 1000px;
  position: relative;
}

.sweep-mod val{
  margin-top: -20px;
}

.sweep-mod .type-label{
  font-size: 12px;
  text-align: center;
  margin-bottom: -10px !important;
}

.sweep-mod .slider{
  width: 200px;
  left: 28px;
}

.sweep-mod .left-col, .sweep-mod .right-col{
  display: inline-block;
}

.sweep-mod .left-col{
  width: 400px;
}

.sweep-mod .right-col{
  width: 500px;
}
