.sweep-mod{
  width: 1100px;
  position: relative;
  margin-left: -100px;
  margin-top: 20px;
}

.sweep-mod val{
  margin-top: -20px;
}

.sweep-mod .type-label{
  font-size: 12px;
  text-align: center;
  margin-bottom: -10px !important;
}

.sweep-mod .slider{
  width: 208px;
  left: 36px;
/*  margin-top: -10px;*/
}

.sweep-mod .left-col, .sweep-mod .right-col{
  display: inline-block;
}

.sweep-mod .left-col{
  width: 500px;
}

.sweep-mod .right-col{
  width: 500px;
  margin-top: 4px;
}

.sweep-mod circle{
  stroke-width: .5;
}

.sweep-mod .type-label{
  margin-top: -10px !important; 
  margin-bottom: -10px !important; 
}

.sweep-mod .lr-row > .type-label{
  margin-bottom: -20px !important;
/*  background: red;*/
}

.sweep-mod .line-chart-hyper{
  margin-left: 40px;
}
.sweep-mod .line-chart-hyper div{
  width: 150px;
}

.sweep-mod .line-chart-hyper div:last-child{
  margin-left: -10px;
}

.sweep-mod .formula{
  text-align: center;
}

.sweep-mod .line-legend{
  text-align: center;
}
