.federate-auto-playground{
  margin: 0px auto;
  font-family: monospace;
  /*width: 300px;*/
}
.federate-auto-playground-graph{
  /*width: 300px;*/
  /*margin-left: 20px;*/
}
.federate-auto-playground-graph > div{
  display: inline-block;
}

.buttons > div{
  display: inline-block;
  /*width: 100px;*/
  margin:  20px;
  margin-left: 0px;
  padding: 5px;
  outline: 1px solid #000;
  cursor: pointer;
  user-select: none;
  display: none;
}

.count-display{
  padding: 5px;
}
.count-display > span{
  display: inline-block;
  margin-right: 20px;
  margin-bottom:  20px;
}

svg{
  overflow: visible;
}

.domain{
  display: none;
}

body{
  height: 1000px;
}

.axis text{
  fill: #666;
}



.option{
  margin-bottom: 10px;
}
.option-value{
  display: inline-block;
  width: 20px;
  outline:  1px solid #ccc;
  text-align: center;
  margin-right: 1px;
  cursor: pointer;
}

.option-value.active{
  background: #000;
  color:  #fff;
}