.sparse-parity-sweep{
  width: 900px;
  position: relative;
}

.sparse-parity-sweep .left-col, .sparse-parity-sweep .right-col{
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.sparse-parity-sweep .left-col{
  margin-right: 10px;
  width: 530px;
}

.sparse-parity-sweep circle{
  stroke-width: .5;
}

.sparse-parity-sweep circle.is-hovered, .sweep-mod circle.is-hovered{
  stroke-width: 2px !important;
}

.graphic{
  font-family: sans-serif;
}


.chart-div{
  display: inline-block;
}

.line-chart-hyper{
/*  width: 230px;*/
  margin: 0px auto;
  margin-bottom: 10px;
/*  margin-top: 30px;*/
  position: relative;\
}
.line-chart-hyper div{
  padding-top: 5px;
  width: 110px;
  position: relative;
  left: 10px;
  text-align: center;
}

.slider{
  width: 200px;
  display: inline-block;
}
.slider > *{
  display: block;
  text-align: center;
}

.sparse-parity-sweep val{
  margin-top: -20px;
}

.legend{
  margin-bottom: -10px;
  margin-left: 25px;
/*  margin-top: 10;*/
}
.legend div{
  display: inline-block;
}

.sliders-container{
  margin-top: 10px;
}

