body{
  font-family: menlo, Consolas, 'Lucida Console', monospace; 
  margin: 0px;
}

.fed-step > div{
  display: inline-block;
  padding-top: 20px;
}

.sm-container{
  width: 300px;
  margin-left: 20px;
}
.sm-container > div{
  display: inline-block;
}